POSTGRES_USER=""
PGUSER="" # should be same as POSTGRES_USER
POSTGRES_PASSWORD=""
POSTGRES_DB="" # should be same as POSTGRES_USER for some reason
PGPORT=5432
DB_HOST="db"
NODE_ENV="development"
BACKEND_URL="http://localhost:5000/api"
FRONTEND_URL="http://localhost:5000"
BACKEND_PORT=3000
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
FRONTEND_DEV_PORT=5173
JWT_PRIVATE_KEY=""
JWT_PUBLIC_KEY=""
NGINX_PORT=5000
SQIDS_ALPHABET="P1fF29hw8BARdJpoSUZIDnXVWNzcCeGrlgk0qbsMxjYKaE5uLTyOt376Hmv4Qi"
VITE_FRONTEND_URL="http://localhost:5000"
SESSION_MAX_AGE_MS=86400000
VITE_CMS_EXTENSION_ID="ebjldebpahljhpakgngnandakdbajdnj"
CHRONO_SECRET=""
LOG_MODE="development" # if not set, defaults to NODE_ENV
LOG_LEVEL="info"
DB_LONG_RUNNING_QUERY_MS=2000