name: Host a staging instance of ChronoFactorem

on: workflow_dispatch

jobs:
  staging:
    name: Build and deploy to staging
    runs-on: self-hosted
    steps:
      - name: ssh into machine, and clone repo
        run: |
            cd /home/ubuntu/clones
            cd chronofactorem-rewrite-draft
            GIT_SSH_COMMAND="ssh -i /home/ubuntu/.ssh/gh-actions -o IdentitiesOnly=yes" git pull
            docker compose --profile ingestion down
            docker compose --profile prod down
            docker compose --profile prod up --build -d
